@page
@model IndexModel
@{
    Layout = "Shared/_MapLayout";
    ViewData["Title"] = "Home page";
}

@section sidebar{
    <ul class="nav flex-column mx-3">
        <li class="nav-item">
            <div class="navbar-text">Sidebar goes here with info on what you've clicked on and search options for stuff</div>
        </li>
    </ul>
}


<div id="map"></div>

@section scripts
{
    <script>
        var map = L.map('map').setView([57.085530536974744, -2.4664306640625004], 9);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href=\"https://openstreetmap.org\">OpenStreetMap</a> Contributors',
            maxZoom: 18,
            minZoom: 5
        }).addTo(map);
    </script>
}
